Documentación/build/Documento conceptual.aux
Documentación/build/Documento conceptual.bbl
Documentación/build/Documento conceptual.blg
Documentación/build/Documento conceptual.fdb_latexmk
Documentación/build/Documento conceptual.fls
Documentación/build/Documento conceptual.log
Documentación/build/Documento conceptual.synctex.gz
